<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="ReadSync">

        <!-- MainActivity que é a tela principal de lançamento -->
        <activity
            android:name="com.example.readsync.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaração das outras telas do app -->
        <activity android:name="com.example.readsync.LeitorLoginActivity" />
        <activity android:name="com.example.readsync.AdminLoginActivity" />
        <activity android:name="com.example.readsync.TelaPrincipalLeitor" />
        <activity android:name="com.example.readsync.TelaPrincipalAdmin" />

    </application>

</manifest>
